@font-face {
    font-family: "Vazir";
    src: url("../fonts/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}

body {
    font-family: "Vazir" !important;
}

#carousel img {
    height: 60vh;
    object-fit: cover;
}

#banner-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-1.jpeg") no-repeat center/cover;
}

#video {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-2.jpg") no-repeat center/cover;
}

#gallery img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.modal-body img {
    height: 80vh;
    object-fit: cover;
}